
@{
    ViewBag.Title = "TodayDonor";
}
@using BBMS.Models
@model IEnumerable<Donor_Information>

<h2>TodayDonor</h2>

<table class="table table-bordered table-condensed">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>National Id</th>
        <th>Donating Type</th>       
        <th></th>
    </tr>
    <tr>
        @{ 
            foreach(var x in Model)
            {
                <td>@x.Donor.First_Name</td>
                <td>@x.Donor.Last_Name</td>
                <td>@x.Donor.National_ID</td>
                <td>@x.Donor.Donate_Type</td>
                <td>
                    <a href="/Doctor/CollectBlood/@Model.FirstOrDefault().Donor_No">Enter Blood Details</a>
                </td>               
            }
        }
    </tr>
</table>
