body {
    padding-top: 85px;
    padding-bottom: 20px;  
    font-family: 'Raleway', sans-serif; 
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;  
}
.logo-img{
    width:70px;
}
.navbar{
    margin-bottom:0px !important;
    min-height:30px !important;
}
.navbar-header{
    margin-top:5px !important;
}
.navbar-default {
    background-color: #53add6;
    border-color: rgba(255, 255, 255, 0); 
    box-shadow: 1px -1px 6px 1px black;
}
.navbar-default .navbar-nav>li>a{
    color:#fff;        
    font-weight: bold;
    font-size: 11pt;
}
.navbar-brand{
        padding: 0px 50px 0px 10px;
}
.navbar-nav {

    margin: 5px 0px;
}

.navbar-default .navbar-text {
    color: #e6e6e6;
}
.dropdown-menu .divider{
    background-color: #fff;
}
.dropdown-menu{
    background-color:#53add6;
}
.dropdown-menu>li>a{
    color:#fff;
}
.navbar-default .navbar-nav>.dropdown>a .caret{
        border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-default .navbar-nav>.dropdown>a:hover .caret, .navbar-default .navbar-nav>.dropdown>a:focus .caret{

}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
    background-color:#448cad;
}



.table td{
    text-align:center;
}
.alert{
    margin: 0px auto !important;
text-align: center !important;
padding: 15px !important;
}
.page-title{
        background-color: rgba(206, 72, 80, 0.8);
    padding: 10px;
    text-align: center;
    box-shadow: -1px 2px 8px #969696;
    border-radius: 5px;
    color: #fff;
    margin-bottom:40px;
    text-shadow: 5px 5px 9px black;
}
.inline-icon{
    display:inline-block !important;
}
.shift-right{
    right:25px !important;
}
a{
    color:#275379;
}
footer{
        background-color: #428bca;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
}
.export-btn{
        float: right;
    margin-bottom: 10px;
}