
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>login</title>
</head>
<body>  
    <div class="login-page">
        <div class="logo-content">
            <img src="~/Content/logo.png" class="logo-img" />
        </div>
        <div class="form">        
                @using (Html.BeginForm(new { htmlAttributes = new { @class = "login-form" } }))
                {
                    <input type="text" name="Username" placeholder="username" />
                            <input name="Password" type="password" placeholder="password" />
                            <button type="submit">login</button>
                }
        
        </div>
    </div>
    @{
        if (ViewBag.data == null)
        {
            <div class="alert-danger hide">@ViewBag.data</div>
        }
        else
        {
            <div class="alert-danger show">@ViewBag.data</div>
        }
    }
    
</body>
</html>
