
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>login</title>
</head>
<body>  
    <div class="login-page">
        <div class="logo-content">
            <img src="~/Content/logo.png" class="logo-img" />
        </div>
        <div class="form">        
                @using (Html.BeginForm("Index","Login", new { htmlAttributes = new { @class = "login-form" }, ReturnUrl = Request.QueryString["ReturnUrl"] }))
                {
                    <input type="text" name="Username" placeholder="username" />
                            <input name="Password" type="password" placeholder="password" />
                            <button type="submit">login</button>              
                }
            <br />
            @{
                if (ViewBag.data == null)
                {
                    <div class="alert alert-danger hide">@ViewBag.data</div>
                }
                else
                {
                    <div class="alert alert-danger show">@ViewBag.data</div>
                }
            }
        
        </div>
    </div>  
    
</body>
</html>
